.signinContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #ecf2f6;
}

.signinForm{
    width: 50%;
    padding: 15px;
    margin: 15px;
    background-color: #aac4d4;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 10px  10px black;
}
.textInLine {
    display: flex;
    flex-direction: row;
   
}
.textInLine::before,
.textInLine::after {
    content: "";
    flex: 1 1;
    width: 9rem;
    border-bottom: 2px solid #000;
    margin: 10px;
}
@media (max-width : 650px){
    .signinForm{
        width: 90%;
    }
}